html /* styling html*/
{
    /*Properties*/
    scroll-behavior: smooth; /*Instead of jumpy short instant movements on the screen this enables smooth transitions as the user navigated the webpage*/
}

body /*Selector*/
{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    line-height: 1.5;
    color: black;
    background: color #fce7ec;
}

/*Typography*/

h1,h2
{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
    color: indigo;
    margin-bottom: auto;
}

h1 
{
    font-size: larger;
    font-weight: 700;
}

h2 
{
    font-size: 20px;
    font-weight: 600;
}

p 
{
    margin-bottom: auto;

}

/*Links*/

a /*link colour and design when it is just shown on page or not  visited or clicked yet*/
{
    color: blue;
    text-decoration: none;
}

a:visited  /*Link colour when it was clicked/ visited */
{
    color: #cdb4e7; 
}

/*images*/
image 
{
    max-width: 100%;
    height: auto;
    display: block;
}

/*buttons*/
.btn-remind 
{
    display: inline;
    padding: 2px; /*the space between our components*/
    border: 2px solid transparent;
    border-radius: 999px;
    text-align: center; /*Allows the text on button will be in the center of button*/
    cursor: pointer; /*shows that button is clickable */
}

/*nav and header*/
header 
{
    background-color: #cdb4e7;
    position: sticky; /* sticky  makes an element scroll with the page like normal until it reaches a specific spot, at which point it "sticks" to the screen and stays visible*/
    top: 0;
    z-index: 1000; /*It makes that specific element look like it is floating directly in front of or above everything else on the screen*/
}

.index-header 
{
    background-color: #f7a7a1;
    position: sticky;
    top: 0;
    z-index: 1000; /*It makes that specific element look like it is floating directly in front of or above everything else on the screen*/
}

/*Logo styling*/
.logo
{
    display: flex;
    align-items: center;
    gap: 0.6rem;
    font-size: 1.5rem;
    font-weight: 600;
}
 /*Navigation styling*/
nav 
{
    display: flex;
    list-style: none;
    gap: 1.5rem;
    align-items: center;
}

/*navigation link styling*/
nav a 
{
    padding: 0.4rem 0.2rem;
    border-bottom: 2px solid transparent;
}

nav a:hover,
nav a:focus
nav a:active {
    border-bottom: 4px solid pink;
    text-decoration: none;
}

nav li:first-child a 
{
    padding-left: 0;
}

nav li:not(:last-child) {
    border-right: 1px solid #ccc;
    padding-right: 1.5rem;
}
